NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:8001
NEXT_PUBLIC_EARNINGS_SERVICE_URL=http://localhost:8002
NEXT_PUBLIC_ANOMALY_SERVICE_URL=http://localhost:8003
NEXT_PUBLIC_GRIEVANCE_SERVICE_URL=http://localhost:8004
NEXT_PUBLIC_ANALYTICS_SERVICE_URL=http://localhost:8005
