# shared .env
DATABASE_URL=postgresql://neondb_owner:npg_eft8D3KoykPB@ep-ancient-bar-amaxl3al-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=supersecretkey_changeme
AUTH_SERVICE_URL=http://localhost:8001
EARNINGS_SERVICE_URL=http://localhost:8002
ANOMALY_SERVICE_URL=http://localhost:8003
GRIEVANCE_SERVICE_URL=http://localhost:8004
ANALYTICS_SERVICE_URL=http://localhost:8005
