# shared .env
DATABASE_URL=postgresql://user:pass@neon.tech/fairgig
JWT_SECRET=supersecretkey_changeme
AUTH_SERVICE_URL=http://localhost:8001
EARNINGS_SERVICE_URL=http://localhost:8002
ANOMALY_SERVICE_URL=http://localhost:8003
GRIEVANCE_SERVICE_URL=http://localhost:8004
ANALYTICS_SERVICE_URL=http://localhost:8005
